__pycache__/
*.py[cod]
two_labels_latent_diffusion_edm/
thrombin/
structures/
wandb/
two_labels_latent_diffusion_edm_silu/
two_labels_latent_diffusion_edm_silu_less_cross_attn/
generated_images/
generated_images_0/
generated_images_1/
generated_images_2/
DiT-XL-2-256/
DiT-XL-2-512/
checkpoints_classifier_latent/
checkpoints_classifier/
output_crossattn_L/
generated_images.zip
two_labels_latent_diffusion_edm_vit/
two_labels_latent_diffusion_edm_silu_cross_attention_2/
two_labels_latent_diffusion_edm_silu_cross_attention/
two_labels_latent_diffusion_edm_silu_cross_attention_2/
two_labels_latent_diffusion_edm_silu_cross_attention_2_bf16/
DiT-XL-2-256/
DiT-XL-2-512/